# Configuración para Elastic Beanstalk

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:ec2:instances:
    InstanceTypes: t2.micro